# Appwrite Configuration
VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=your-project-id
VITE_APPWRITE_DB_ID=ewaste-db
VITE_APPWRITE_BUCKET_PHOTOS=ewaste_images
VITE_APPWRITE_TEAM_ID_DRIVER=ewaste-driver
VITE_APPWRITE_TEAM_ID_PMC=ewaste-pmc
